html,
body {
  height: 100%;

}

h1 {
text-align: center;
}

p {
    display: inline;
}
.list-name {

    color: #0d6efd;
}

.list-name::placeholder {
    color: #0d6efd;
  opacity: 1;
}

.list-name:-ms-input-placeholder {
color: #0d6efd;
}

.list-name::-ms-input-placeholder {
color: #0d6efd;
}


.options {
    display: inline-block;
    visibility: hidden;
}

.list-group-item:hover .link {
    visibility: visible;
    opacity: 0.2;

}

.starred {
    opacity: 1;
    visibility: visible;
}
.completed {
    color: grey;
}
.hid-done {
    visibility: hidden;

}

.google-img {

width: 40px;
height: 40px;
}

.google {
flex-direction: row;
display: flex;
justify-content: center;
align-items: center;
padding: 7px;
border-radius: 15px;
text-decoration: none;

}

.google-text {
justify-content: center;
padding: 10px;
}



.form-div {
    height: 80%;
}
.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-register input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-register input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-register input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-login input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;

}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  overflow-x: hidden;
  padding-top: 20px;
}


.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  display: block;
}


.main, .navbarr {
  margin-left: 160px;
  padding: 0px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

