<!doctype html>
{% if is_dark: %}
<html lang="en" data-bs-theme="dark">
{% else %}
<html lang="en">
{% endif %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}" />
    <link rel="shortcut icon" href="favicon.ico" />
    <title>My Saved Lists</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary mb-0 border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand fs-2" href="/">Home</a>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto align-items-center">
          <li class="nav-item me-2">
          <a class="nav-link active fs-5" aria-current="page" href="/account" title="Click for account settings">{{email}}</a>
        </li>
          <li class="nav-item me-2">
          <a class="nav-link fs-5" aria-current="page" href="/">My saved lists</a>
        </li>
          <li class="nav-item me-2">
              <a class="nav-link fs-5" aria-current="page" href="/logout">Log out</a>
          </li>

        <li class="nav-item me-2">
            {% if is_dark: %}
          <a class="nav-link fs-5 add-new-list" href="/dark/{{path}}" title="Turn light mode">🌝</a>
            {% else %}
            <a class="nav-link fs-5 add-new-list" href="/dark/{{path}}" title="Turn dark mode">🌚</a>
            {% endif %}
        </li>

      </ul>
    </div>
  </div>
</nav>
     <a class="btn btn-outline-info mt-2 mb-2 ms-1" href="/new">+ Create new list</a>

    <ol class="list-group list-group-numbered ms-1 me-1">
           {% for list in lists: %}
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <a href="{{url_for('show_list', list_id=list.id)}}" class="fw-bold">{{list.list_name}}</a>

    </div>

    <span class="badge bg-primary rounded-pill">{{list.tasks|length}}</span>
      <a class="ms-2 text-decoration-none" href="/delete_list/{{list.id}}"><span>❌</span></a>
  </li>
  {% endfor %}
</ol>












<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
</body>
</html>